.form {
   min-height: 90vh;
   max-height: 90vh;
   max-width: 1200px;
}

.form__left {
   width: 100%;
   max-width: 300px;
   background-color: rgb(254,254,254,.05);
   min-height: 90vh;
   height: 100%;
   display: flex;
   justify-content: start;
   align-items: center;
   flex-direction: column;
   border-radius: 20px 0 0 20px;
}
.form__left__header {
   padding: 10px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   gap: 10px;
   background-color: #141414;
   border-radius: 20px 0 0 0 ;
}
.form__left__chats {
   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: column;
   width: 100%;
   padding: 4px 10px;
}
.chat {
   width: 100%;
   padding: 10px 8px;
   border-bottom: 2px solid  rgb(254,254,254,.4);
   background-color: rgb(254,254,254,.1);
   cursor: pointer;
   width: 100%;
   transition: all .3s linear;
   color: white;
   font-size: 16px;
}
.chat:hover {
   background-color: rgb(23, 213, 143, .9);
   color: black ;
}

.header__left {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 15px;
}
.header__left .icon {
   font-size: 28px;
}
.header__left img {
   width: 50px;
   height: 50px;
   object-fit: cover;
   border-radius: 10px;
}
.header__left__menu {
   position: fixed;

   top: 12vh;
   background-color: #141414;

   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: column;

   display: none;
}
.header__left__menu a {
   color: white;
   font-size: 20px;
   transition: all .3s linear;
   padding: 8px 22px;
   width: 100%;
}
.header__left__menu a:hover {
   background-color: #17d58f;
   color: black;
}
.form form {
   width: 100%;
}
.header__center input {
   width: 100%;
}
.form__right {
   width: 100%;
}

.pre__messages {
   display: flex;
   justify-content: start;
   align-items: start;
   flex-direction: column;
   height: 90vh;
   position: relative;
}
.pre__messages__header {
   width: 100%;
   background-color: #141414;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 6px 2vw;
   position: absolute;
   z-index: 15;
   top: 0;
}
.pre__messages__header__left {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 7px;
}
.pre__messages__header__left img {
   width: 40px;
   height: 40px;
   object-fit: cover;
   border-radius: 100% !important;
}
.pre__messages__header__left section {
   display: flex;
   justify-content: center;
   align-items: start;
   flex-direction: column;
}
.pre__messages__header__left section  b {
   font-size: 18px;
}
.pre__messages__header__left section  p {
   color:rgb(254,254,254,.8);
   font-size: 14px;
}
.pre__messages__header__right {

}
.pre__messages__form {
   position: absolute;
   bottom: 0;
   padding: 10px;
   width: 100%;

   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: row !important;
}
.pre__messages__form input {
   width: 100%;
   max-width: 90%;
   font-size: 18px;
   min-width: 90%;
   background-color: #202020;
   box-shadow: 0 0 10px 2px #202020;
}
.pre__messages__form input:hover {
   box-shadow: 0 0 10px 2px #17d58f ;
}
.pre__messages__form input:focus {
   box-shadow: 0 0 10px 2px #17d58f ;
}

.messages {
   padding: 50px 0 60px;
   overflow-y: scroll;
   width: 100%;
   border-radius: 20px;
}
::-webkit-scrollbar {
   width: 7px;
   transition: all .3s linear;
}
::-webkit-scrollbar:hover {
   width: 10px;
}
::-webkit-scrollbar-thumb {
   background-color: rgb(254,254,254,.2);
   border-radius: 10px;
   transition: all .3s linear;
}
::-webkit-scrollbar-thumb:hover {
   background-color: #17d58f;;
}

.write {
   background-color: rgb(254,254,254,.15);
   padding: 6px 8px;
   transition: all .3s linear;
   font-size: 18px;
   width: 100% ;
   max-width: 800px;
   border-bottom: 2px solid rgb(255,255,255,.4);
}
.write:hover {
   background-color: rgb(254,254,254,.25);
}
.write_time {
   width: 100%;
   text-align: right;
   font-size: 14px;
   color: rgb(254,254,254,.6)
}
.write__content {
   display: flex;
   justify-content: space-between;
   margin-bottom: 4px;
}
.icon {
   color: white;
   transition: all .3s linear;
   padding: 6px;
   border-radius: 100%;
   cursor: pointer;
}
.icon:hover {
   color: #17d58f;
   background-color: black;
}
.notFound {
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   min-height: 70vh;
}
.notFound * {
   color:  rgb(254,254,254,.4);
   font-size: 33px;
}

/* message */
.message {
   border-bottom: 1px solid rgb(254,254,254,.05);
   width: 100%;
   padding: 6px 8px;
   transition: all .3s linear;
   /* animation: message-show 1s linear; */
}
.message__header {
   display: flex;
   justify-content: space-between;
   align-items: start;
   margin-top: 4px;
   gap: 10px;
   width: 100%;
}
.message p {
   width: 100%;
}
.message__header span {
   color:  rgb(254,245, 245,.5);
   font-size: 14px;
}
.message__header div {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   gap: 6px;
}
.message__header div i {
   font-size: 14px;
   color:  rgb(254,245, 245,.5);
   transition: all .3s linear;
   padding: 6px;
}
.message__header div i:hover {
   color: #17d58f;
   cursor: pointer;
   border-radius: 100%;
   background-color: rgb(254,254,254,.2);
}

@keyframes message-show  {
   0% {
      opacity: 0;
   }
   100% {
      opacity: 1;
   }
}