{% include 'main.html' %}

{% load static  %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<title>Chat</title>
{% endblock title %}

{% block content %}
<div class="pre__form">
   <div class="form">
      
      <div class="form__left">
         <div class="form__left__header">
            <div class="header__left">
               <div class="icon show__menu" >
                  <i class="fa-solid fa-bars"></i>
               </div>
               <div class="header__left__menu" style="display: none;">
                  <a href="{% url 'base:settings' %}" class="settings">Settings</a>
                  <a href="{% url 'base:sign-out' %}" class="logout">Logout</a>
               </div>
               <!-- <img src="/media/{{request.user.profile.image}}" alt="{{request.user.profile.image}}"> -->
               <h3>{{request.user.username}}</h3>
            </div>
            <!-- <form class="header__center">
               {% csrf_token %}
               <input type="text"  name="search" placeholder="search...">
            </form> -->
            <div class="header__center">
              <a href="{% url 'base:create-chat' %}" class="btn">+ </a>
            </div>
         </div>
         <div class="form__left__chats">
            {% for chat in chats %}
            <a 
               class="chat" 
               href="{% url 'base:chat' chat.slug %}"
               {% if one_chat %}
                  {% if chat.slug ==  one_chat.slug %}
                     style ="   background-color: rgb(23, 213, 143, .9);color: black ;"
                  {% endif %}
               {% endif %}
            >
               {% if request.user == chat.user1 %}
               {{ chat.user2.username }}
               {% else %}
               {{ chat.user1.username }}
               {% endif %}
            </a>
            {% endfor %}
         </div>
      </div>

      <div class="form__right">

         {% if type == 'create' %}

         {% comment %} ______ create new chat ______ {% endcomment %}

            <form action="" method="POST" class="create_new_chate">
               {% csrf_token %}
               <input 
                  type="email" 
                  name="email" 
                  placeholder="Enter user email..."
                  required>
               <button class="btn" type="submit">Create<button>
            </form>
         {% elif type == 'chat' %}

         {% comment %} _____ chat ______ {% endcomment %}

        <div class="pre__messages">
         <input type="hidden" name="request-user" value="{{request.user}}" id="RequestUser" />
         <div class="pre__messages__header">
            <div class="pre__messages__header__left">
               {% if request.user == one_chat.user1 %}
               <img src="/static/media/{{profile_user2.image}}" alt="{{profile_user2.image}}">
               <section class="data">
                  <b>{{one_chat.user2.username}}</b>
                  <p>{{one_chat.user2.email}}</p>
               </section>
               {% else %}
               <img src="/static/media/{{profile_user2.image}}" alt="{{profile_user2.image}}">
               <section class="data">
                  <b>{{one_chat.user1.username}}</b>
                  <p>{{one_chat.user1.email}}</p>
               </section>
               {% endif %}
            </div>
            <div class="pre__messages__header__right">
               <i class="fa-solid fa-ban"></i>
               <a 
                     class="fa-solid fa-trash icon"
                     href="{% url 'base:chat-delete' one_chat.slug %}"
                  ></a>
            </div>
         </div>

         <input 
            type='hidden'
            id ='chatSlug' 
            value='{{ one_chat.slug }}'
         />
         <div class="messages" id ='MessagesList'></div>

         <form class="pre__messages__form" id="addNewMessage">
             {% csrf_token %}
             <input 
               type="text" 
               name="text" 
               placeholder="Enter your message..."
               id = 'MessageCreateInput'
               required
               />
               <button type="submit" class="btn">
                  <i class="fa-regular fa-paper-plane"></i>
               </button>
         </form>
        </div>

        {% elif type == 'settings' %}

        {% comment %} _____ settings _____ {% endcomment %}

         <form method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Update Info</h2>
            <input 
               type="text" 
               name="username" 
               placeholder="Enter your username..."
               value = "{{ request.user.username }}"
               required />
            <input 
               type="text" 
               name="email" 
               placeholder="Enter your email..."
               value = "{{ request.user.email }}"
               required />
            {% if profile.image  %}
               <img src="static/media/{{profile.image}}"  alt="{{profile.image}}" class="profile__image">
            {% endif %}
            <input
               type = "file" 
               name="image"
             />
             <textarea 
               name="about" 
               placeholder="talk about you...">{{profile.about}}</textarea>
            <button class='btn'>save</button>
         </form>
         {% endif %}

      </div>

   </div>
</div>
<script src="{% static 'js/crud_message.js' %}"></script>
<script src="{% static 'js/copy_message.js' %}"></script>
<script src="{% static 'js/show_menu.js' %}"></script>
{% endblock content %}