{% include 'main.html' %}

{% load static  %}

{% block title %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
<link rel="stylesheet" href="{% static 'css/chat.css' %}">
<title>Chat</title>
{% endblock title %}

{% block content %}
<div class="pre__form">
   <div class="form">
      
      <div class="form__left">
         <div class="form__left__header">
            <div class="header__left">
               <div class="icon show__menu" >
                  <i class="fa-solid fa-bars"></i>
               </div>
               <div class="header__left__menu" style="display: none;">
                  <a href="{% url 'base:settings' %}" class="settings">Settings</a>
                  <a href="{% url 'base:sign-out' %}" class="logout">Logout</a>
               </div>
               <!-- <img src="/media/{{request.user.profile.image}}" alt="{{request.user.profile.image}}"> -->
               <h3>{{request.user.username}}</h3>
            </div>
            <!-- <form class="header__center">
               {% csrf_token %}
               <input type="text"  name="search" placeholder="search...">
            </form> -->
            <div class="header__center">
              <a href="{% url 'base:create-chat' %}" class="btn">+ </a>
            </div>
         </div>
         <div class="form__left__chats">
            {% for chat in chats %}
            <a 
               class="chat" 
               href="{% url 'base:chat' chat.slug %}"
               {% if one_chat %}
                  {% if chat.slug ==  one_chat.slug %}
                     style ="   background-color: rgb(23, 213, 143, .9);color: black ;"
                  {% endif %}
               {% endif %}
            >
               {% if request.user == chat.user1 %}
               {{ chat.user2.username }}
               {% else %}
               {{ chat.user1.username }}
               {% endif %}
            </a>
            {% endfor %}
         </div>
      </div>

      <div class="form__right">

         {% if type == 'create' %}
            <form action="" method="POST" class="create_new_chate">
               {% csrf_token %}
               <input 
                  type="email" 
                  name="email" 
                  placeholder="Enter user email..."
                  required>
               <button class="btn" type="submit">Create<button>
            </form>
         {% else %}
        <div class="pre__messages">
         <div class="pre__messages__header">
            <div class="pre__messages__header__left">
               {% if request.user == one_chat.user1 %}
               <img src="/media/{{one_chat.user2.profile.image}}" alt="{{one_chat.user2.profile.image}}">
               <section class="data">
                  <b>{{one_chat.user2.username}}</b>
                  <p>{{one_chat.user2.email}}</p>
               </section>
               {% else %}
               <img src="/media/{{one_chat.user1.profile.image}}" alt="{{one_chat.user2.profile.image}}">
               <section class="data">
                  <b>{{one_chat.user1.username}}</b>
                  <p>{{one_chat.user1.email}}</p>
               </section>
               {% endif %}
            </div>
            <div class="pre__messages__header__right">
               <i class="fa-solid fa-ban"></i>
               <a 
                     class="fa-solid fa-trash icon"
                     href="{% url 'base:chat-delete' one_chat.slug %}"
                  ></a>
            </div>
         </div>
         <div class="messages">
            {% if texts|length != 0 %}
            {% for message in texts %}
               <div 
               class="mess"
               {% if message.user == request.user %}
                  style="background-color: rgba(23, 213, 143, 1); color: black;"
               {% endif %}
            >
            <div class="mess__content">
               <p class="text_for_copy">{{message.message}}</p>
               {% if message.user == request.user %}
               <p>
                  <a 
                     class="fa-solid fa-trash icon"
                     href="{% url 'base:message-delete' one_chat.slug message.id %}"
                  ></a>
                  <a class="fa-solid fa-copy icon copy" ></a>
               </p>
               {% endif %}
            </div>
            <p 
            class="mess_time"
            {% if message.user == request.user %}
               style="color: rgb(0,0,0,.7)"
            {% endif %}
            >{{ message.updated }}</p>
            </div>
            {% endfor %}
            {% else %}
            <div class="notFound">
               <h2>Messages Not Found</h2>
               <i class="fa-solid fa-comment-slash"></i>
            </div>
            {% endif %}
         </div>
         <form action="" method="POST" class="pre__messages__form">
             {% csrf_token %}
             <input 
               type="text" 
               name="message" 
               placeholder="Enter your message..."
               required
               />
               <button type="submit" class="btn">
                  <i class="fa-regular fa-paper-plane"></i>
               </button>
         </form>
        </div>
         {% endif %}

      </div>

   </div>
</div>
<script src="{% static 'js/copy_message.js' %}"></script>
<script src="{% static 'js/show_menu.js' %}"></script>
{% endblock content %}